@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@200;300;400;500&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

body {
  background-color: rgba(229, 229, 229, 0.3);
}

@media only screen and (max-width: 768px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .logo {
    margin-top: 58px;
    margin-left: 24px;
  }

  .logo a {
    width: 76px;
    height: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #6070ff;
  }

  .menu {
    margin-top: 63px;
    margin-right: 36px;
  }

  .home-page {
    padding-top: 17%;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 10%;
    background-image: url("images/shapes.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-bottom-left-radius: 14%;
  }

  .heading {
    margin-left: 24px;
    margin-top: 128px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .intro {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: 24px;
    margin-top: 12px;
    margin-right: 24px;
    color: #344563;
  }

  .ctn {
    margin-top: 12px;
    margin-left: 24px;
  }

  .ctn a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #7f8cff;
  }

  .social {
    display: flex;
    list-style: none;
    margin-top: 2px;
    margin-left: 14px;
  }

  .social li {
    margin: 10px;
  }

  /* work section */

  .work-section {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
    padding: 10% 6% 10% 6%;
  }

  .card-section {
    display: flex;
    flex-direction: column;
    background: #fff;
    justify-content: flex-start;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .profile {
    margin: 16px 16px 0 16px;
  }

  .card-section h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin: 12px 16px 0 16px;
    display: flex;
    text-align: left;
    align-items: center;
    color: #172b4d;
  }

  .canopy {
    display: flex;
    justify-content: flex-start;
    padding-right: 1.5%;
    margin-block-start: 0.4rem;
    margin-block-end: 1rem;
    padding-inline-start: 0;
    margin-left: 10px;
  }

  .card-section .cano {
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
  }

  .canopy li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    font-family: poppins, sans-serif;
    color: #7a869a;
  }

  .card-section p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 0 16px 0 16px;
    color: #344563;
  }

  .tech {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 12px 97px 0 6px;
  }

  .tech li {
    list-style: none;
    margin: 10px;
    background: #ebebff;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .card-section a {
    width: 90px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-self: flex-start;
    border: 1px solid #6070ff;
    border-radius: 8px;
    color: #6070ff;
    text-decoration: none;
    padding: 12px;
    margin: 16px;
    font-family: poppins, sans-serif;
  }

  .ctn1 a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #7f8cff;
    margin: 10px 0;
  }

  .card-section a:hover {
    background-color: #c9cdf5;
    box-shadow: #6070ff;
  }

  /* about */

  .about {
    padding: 17% 6% 17% 16%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-top-right-radius: 15%;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-me h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin: 0;
    display: flex;
    align-items: center;
    color: #172b4d;
  }

  .about-me p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #344563;
  }

  .ctn1 {
    margin-bottom: 20px;
  }

  .ctn2 {
    width: 130px;
    height: 28px;
    display: flex;
    align-items: center;
    border: 1px solid #6070ff;
    border-radius: 8px;
    color: #6070ff;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    font-family: poppins, sans-serif;
  }

  .languages {
    display: flex;
    flex-direction: column;
    margin: 14px 0;
    background: #fff;
    padding: 0;
    justify-content: flex-start;
  }

  .language-section {
    display: flex;
    justify-content: space-between;
  }

  .frame-p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000;
  }

  .language-section li {
    list-style: none;
    font-family: poppins, sans-serif;
    margin: 20px 0;
  }

  .js-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .js-section li {
    display: flex;
    align-items: center;
    width: 19rem;
    height: 4.17rem;
    list-style: none;
    margin: 10px 0;
    gap: 5px;
    background: #f7f7f9;
    border-radius: 8px;
    font-family: poppins, sans-serif;
    padding: 5px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
  }

  .frame-works li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
  }

  /* contact-form */

  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #6070ff;
    background-image: url("images/contact-bg.png");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    border-top-left-radius: 6rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .contact h1 {
    font-size: 1.5rem;
    justify-content: flex-start;
    margin: 40px auto;
    font-weight: 700;
    color: #fff;
    padding-top: 60px;
  }

  .contact p {
    font-size: 1.5rem;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px 24px;
    text-align: center;
    color: #fff;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
  }

  .form-section input {
    height: 40px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
  }

  .form-section textarea {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 100px;
    padding: 10px;
  }

  .form-section button {
    margin: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    font-size: 17px;
    color: #6070ff;
    width: 142px;
    height: 48px;
    background: #fff;
    border-radius: 8px;
  }

  .form-section button:hover {
    background-color: #9ba4f7;
    color: #fff;
  }

  .footer {
    margin: 5px auto;
    width: 20%;
    align-items: center;
    justify-content: center;
    height: 2px;
    background-color: #000;
  }
}
